* {
    box-sizing: border-box;
}

.header-nav {
    margin-top: 20px;
    margin-bottom: 0;
    background-color: #FFF;
    border-bottom: solid 3px;
    color: #7d97ad;
    min-height: 100px;
}

.header-container {
    width: 100%;
}

.header-name {
    font-family: 'Poiret One', cursive;
    font-weight: 100;
    font-size: 36px;
    color: #2d3c49;
    text-transform: uppercase;
}

.header-sub-name {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 200;
    color: #2d3c49;
    text-transform: uppercase;
}

.body-container {
    padding: 40px;
}

.image-one {
    padding-top: 20px;
    padding-right: 40px;
}

.image-two {
    padding-top: 20px;
    padding-right: 20px;
}

.featured {
    font-family: 'Open Sans';
    font-size: 40px;
    color: #7d97ad;
    padding-top: 10px;
    width: 100%;
}

.title {
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 36px;
    color: #2d3c49;
    text-transform: uppercase;
}

.images {
    display: block;
    margin: 0 auto;
    width: 100%:
}

.url-link {
    color: #2d3c49;
    padding: 1em;
    font-weight: 100;
    font-size: 14px;
}

.article-text {
    color: #2d3c49;
}

.main-image {
    width: 100%;
}

@media (max-width: 767px) {
  .small-image {
    width: 100%;
    height: auto;
  }
}
