* {
  box-sizing: border-box;
}
.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}
.header-nav {
    margin-top: 20px;
    margin-bottom: 0;
    background-color: #FFF;
    border-bottom: solid 3px;
    color: #7d97ad;
    min-height: 85px;
}
.header-container {
    width: 100%;
}
.header-left {
    float: left;
    margin-left: 40px;
}
.header-right {
    float: right;
    margin-right: 40px;
}
.header-name {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 100;
    font-size: 36px;
    color: #2d3c49;
    text-transform: uppercase;
}
.header-sub-name {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 200;
    color: #2d3c49;
    text-transform: uppercase;
    float: right;
}
.body-container {
    padding: 40px;
}
.image-one {
    padding-top: 20px;
    padding-right: 40px;
}
.image-two {
    padding-top: 20px;
    padding-right: 20px;
    float: left;
}
.image-three {
  display: block;
  width: 300px;
  height:150px;
  background: url('https://cdn.pixabay.com/photo/2017/06/28/10/53/board-2450236_1280.jpg') no-repeat;
  background-size: contain;
}
.featured {
    font-family: 'Open Sans';
    font-size: 40px;
    color: #7d97ad;
    padding-top: 10px;
}
.title {
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 36px;
    color: #2d3c49;
    text-transform: uppercase;
}
.images {
    display: block;
    margin: 0 auto;
    width: 100px:
}

img {
    display: block;
    margin: 0 auto;
}
